*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background-image: url(istockphoto-531628776-170667a.jpg);
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  width: 100%;
} 
/*nav style*/ 
nav{
  background-color: white;
  height: 50px;
}
.navbutton{
  height: 37.5px;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #03989e;
  border: 0;
  margin-top: 6.25px;
  margin-left: 15px;
  margin-bottom: 6.25px;
  cursor: pointer;
  padding-left: 2px;
  padding-right: 2px;
}
.navbutton:hover{
  background-color: lightgrey;
  border-radius: 5%;
}

.liorder{
  display: inline-flex;vertical-align: top;
}
/**/
.main {
  margin: 20px;
  
}
.welcomehaeders{
  margin-top: 1%;
  border-radius: 1%;
  margin-left: auto;
  margin-right: auto;
  width: fit-content;
  background-color: rgba(255, 255, 255, 0.699);
}
.welcome {
  font-size: 36px;
  margin-bottom: 10px;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: bold;
  color: #03989e;
}

 .headerp {
  font-size: 24px;
  margin-bottom: 20px;
  line-height: 1.5;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-weight: light;
  color: #03989e;
  text-align: center;
}

.main hr {
  border: none;
  background-color: rgba(255, 255, 255, 0.699);
  height: 3px;
  margin-bottom: 1%;
}

/* Style the search bar */
/* #search {

  /* margin-top: 20px;
  margin-left: 75px;
  width: 200px;
  height: 35px;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 0px 5px 5px;
  font-weight: 550; 
} */
.box{
  margin-top: 3%;
  border-radius: 10px;
  border: 1px;
  padding-left: 2%;
  outline-color: gray;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #03989e;
  display: flex;
  background-color: rgba(255, 236, 236, 0.778);
  height: 35px;
  width: 300px;
  margin-bottom: 1%;
  margin-left: auto;
  margin-right: auto;
}
.box::placeholder{
  color: #03989e;
  font-weight: 500;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.box:hover{
  background-color: rgb(255, 255, 255);
}

.hide {
  display: none;
}

/* Style the item container */
.itemContainer{
  background-color: rgba(255, 255, 255, 0.699);
  width: 80%;
  height: fit-content;
  margin-left: auto;
  margin-right: auto;
  border-radius: 10px;
}
.item {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(215px, 250px));
  position: relative;
  /* left: 60px; */
  background-color: #ffffff;
  border: 2px solid;
  border-color: #e7e7e7;
  box-shadow: 2.5px 2.5px  #636465 ;
  border-radius: 2%;
  border-top-left-radius: 2%;
  border-top-right-radius: 5%;
  padding: 105px;
  margin-top: 2%;
  margin-bottom: 4%;
  margin-left: 11.5%;
  width: 220px;
  height: 350px;
  display: inline-block;
  vertical-align: top;
  text-align: center;
  box-sizing: border-box;
}

/* Style the item image */
.item img {
  position: absolute;
  bottom: 185px;
  right: 32.5px;
  width: 155px;
  height: 155px;
}

.item hr {
  border: none;
  background-color: #aeaeae;
  height: 2px;
  width: 217px;
  max-width: 250px;
  min-width: 215px;
  position: absolute;
  top: 48%;
  left: 0%;
}

/* Style the item name */
.item h2 {
  text-anchor:start;
  position: absolute;
  top: 53%;
  left: 6%;
  text-decoration: underline;
  text-transform: capitalize;  
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  font-size: 20px;
  margin: 0px 5px;
}

/* Style the item description */
.item p:nth-of-type(1) {
  text-anchor:start;
  position: absolute;
  top: 60.5%;
  left: 8%;
  text-align: left;
  font-size: 14px;
  margin-bottom: 15px;
  color: #03989e;
}
 
/* Style the item price */
.item p:nth-of-type(2) {
  text-anchor:start;
  position: absolute;
  top: 80%;
  left: 7.5%;
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #03989e;
}

/* Style the add to cart button */
/* {
   position: absolute;
  top: 90%;
  left: 0%;
  height: 10%;
  width: 216px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-top: 2px solid black;
  border-bottom-left-radius: 13px;
  border-bottom-right-radius: 2.5px;
  padding: 5px 10px;
  cursor: pointer;
  z-index: 9999;
} */
.add-to-cart{
  border: 1px solid rgb(238, 238, 238);
  background-color: rgb(238, 238, 238);
  position: absolute;
  top: 90%;
  left: 0%;
  height: 10%;
  width: 100%;
  color: #03989e;
  border-bottom-left-radius: 6%;
  border-bottom-right-radius: 6%;
  /* margin-left: auto;
  margin-right: auto; */
  display: flex;
  justify-content: center;
  padding-top: 3%;
  text-decoration: none;
}
.add-to-cart:hover{
  background-color: rgb(48, 179, 255);
  color:white;
}

/*footer style*/
footer{
  background-color: white;
  height: 45px;
  vertical-align: bottom;
  display: flex;
  margin-top: 8%;
}
.fbutton{
  height: 30px;
  background-color: white;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  color: #03989e;
  border: 0;
  margin-top: 6.25px;
  margin-bottom: 2px;
  padding-left: 2px;
  margin-left: 5px;
  cursor: pointer;
}
.fbutton:hover{
  background-color: lightgrey;
  border-radius: 5%;
}
footer .footer{
  margin-top: 1%;
  margin-left: auto;
  margin-right: auto;
  display: inline-block;
}